# Dependencies
node_modules/
.pnpm-store/

# Next.js build
.next/
out/

# Hardhat build artifacts & cache
contracts/artifacts/
contracts/cache/
artifacts/
cache/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
*.tsbuildinfo
